@page
@model BeFeira.Pages.CarrinhoProduto.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CarrinhoProduto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarrinhoProduto.Id" />
            <div class="form-group">
                <label asp-for="CarrinhoProduto.CarrinhoId" class="control-label"></label>
                <input asp-for="CarrinhoProduto.CarrinhoId" class="form-control" />
                <span asp-validation-for="CarrinhoProduto.CarrinhoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarrinhoProduto.ProdutoId" class="control-label"></label>
                <input asp-for="CarrinhoProduto.ProdutoId" class="form-control" />
                <span asp-validation-for="CarrinhoProduto.ProdutoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarrinhoProduto.Quantidade" class="control-label"></label>
                <input asp-for="CarrinhoProduto.Quantidade" class="form-control" />
                <span asp-validation-for="CarrinhoProduto.Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarrinhoProduto.Preco" class="control-label"></label>
                <input asp-for="CarrinhoProduto.Preco" class="form-control" />
                <span asp-validation-for="CarrinhoProduto.Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarrinhoProduto.TaxaBefeira" class="control-label"></label>
                <input asp-for="CarrinhoProduto.TaxaBefeira" class="form-control" />
                <span asp-validation-for="CarrinhoProduto.TaxaBefeira" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
