@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    height: 12vh;
    width: 100%;
    background-color: darkred;
}

header img {
        height: 80%;
        margin-left: 100px;
        margin-top: 8px;

}

header i {
    left: auto;
    right: 60px;
    color:white;
    font-size: 40px;
    top: 25px;
    position: absolute;
    
}

    header p {
        left: auto;
        right: 140px;
        color: white;
        font-size: 20px;
        top: 35px;
        position: absolute;
    }


#main_page {
    margin: 120px 100px 0 100px;
    display: flex;
    flex-wrap: wrap;
}

    #main_page .container_categoria {
        margin-left:0px;
        margin-bottom: 90px;
        text-align: center;
        flex: 0 0 14.2857%;
    }

    #main_page img {
        width: 90px;
        height: 90px;
    }

    #main_page p {
        text-align: center;
        margin-top: 10px;
        font-size: 17px;
    }

    #main_page i {
        width: 90px;
        height: 80px;
        font-size: 60px;
        margin-top: 10px;
    }
    


