@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    height: 12vh;
    width: 100%;
    background-color: darkred;
    display: flex;
    justify-content: space-between;
}

    header img {
        height: 80%;
        margin-left: 100px;
        margin-top: 8px;
    }

    header i {
        color: white;
        font-size: 40px;
        margin: auto 40px auto 0;
    }

.container {
    text-align:center;
    margin-top:40px;
    position: relative;
    max-width: 75%;
    width: 100%;
    background: white;
    padding: 40px 30px;
    box-shadow: 0 5px 10px lightgray;
}

.container .forms {
    height: 100%;
    width: 100%;
    background: white;
}

.container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(50% / 2 - 25px);
    margin: 0 20px 0 20px;
}

.forms .form-content .input-boxes {
    margin-top: 30px;
}

.forms .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid gray;
    transition: all 0.3s ease;
}


.form-content .input-box i {
    position: absolute;
    color: black;
    font-size: 17px;
}

.forms .form-content .button {
    color: white;
    margin-top: 40px;
}

    .forms .form-content .button input {
        color: white;
        background: black;
        border-radius: 6px;
        padding: 0;
        cursor: pointer;
        transition: all 0.4s ease;
    }

        .forms .form-content .button input:hover {
            background: dimgray;
        }

.container #flip {
    display: none;
}

.botao_voltar_bottom:hover {
    background-color: darkred;
    color: white;
}

.botao_voltar_bottom {
    background: white;
    border: 3px solid darkred;
    padding: 5px 20px 5px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    transition: all 0.1s ease;
    margin: 50px 250px 0 0;
}

.user_header_info {
    display: flex;
}

    .user_header_info h1 {
        color: white;
        font-size: 18px;
        margin: auto 30px auto 0;
    }

    .user_header_info i {
        font-size: 20px;
        background-color: white;
        color: darkred !important;
        border-radius: 50%;
        padding: 10px;
        transition: all 0.1s ease;
    }

        .user_header_info i:hover {
            color: red;
            transform: scale(1.1);
        }

body{

    text-align:right;
}
.login-form > div  {
    font-weight:600;
    font-size:25px;
}

.signup-form > div {
    font-weight: 600;
    font-size: 25px;
}