@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    height: 12vh;
    width: 100%;
    background-color: darkred;
    display: flex;
    justify-content: space-between;
}

header img {
        height: 80%;
        margin-left: 100px;
        margin-top: 8px;
}

header i {
    color:white;
    font-size: 40px;
    margin: auto 40px auto 0;
    transition: all 0.1s ease;
}

    header i:hover {

        transform: scale(1.1);
    }

    header p {
        left: auto;
        right: 140px;
        color: white;
        font-size: 20px;
        top: 35px;
        position: absolute;
    }

body {
    min-height: 88vh;
}


#main_page {
    margin: 120px 100px 0 100px;
    display: flex;
    flex-wrap: wrap;
}

    #main_page .container_categoria {
        margin-left:0px;
        margin-bottom: 85px;
        text-align: center;
        flex: 0 0 14.2857%;
        padding-top: 5px;
        border-radius: 10px;
    }

        #main_page .container_categoria:hover {

            background-color: lightcoral;
        }

        #main_page img {
            width: 90px;
            height: 90px;
            border-radius: 10px
        }

    #main_page p {
        text-align: center;
        margin-top: 10px;
        font-size: 17px;
    }

    #main_page i {
        width: 90px;
        height: 80px;
        font-size: 60px;
        margin-top: 10px;
    }

.carrinho_container {
    border: 4px solid black;
    margin: 50px 120px 0 120px;
    background-color: aliceblue;
}

.carrinho_container h3 {

    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 600;
}

.produtos_carrinho {
    margin: 0 40px 0 40px;
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    margin-bottom: 30px;
    border: 3px solid black;
}

.produto_carrinho {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5px 0 5px;
}

    .produto_carrinho > p, .produto_carrinho > button {
        flex: 15%;
        text-align: center;
        font-weight: 600;
        font-size: 17px;
        margin: 10px 0 10px 0;
    }

.produto_carrinho_title {
    background: black;
    margin: 0 40px 0 40px;
}
.produto_carrinho_title > p {
    font-size: 17px;
    font-weight: 600;
    color: white;
}

.produto_carrinho > button {

    background: none;
    border-width: 0;
}

.u {
    background: none;
    border-width: 0;
}

.produto_carrinho > button > i {

    font-size: 22px;
}

.even {
    background: white;
}

.odd {
    background: lightgray;
}

.carrinho_container > p {

    text-align: right;
    margin-right: 40px;
    font-weight: 600;
    font-size: 18px;
}

.carrinho_buttons_container {

    display: flex;
    justify-content: space-between;
    margin: 0 30px 15px 20px;
}

.carrinho_buttons_container > button {

    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.feira_container {
    background-color: antiquewhite;
    height: 88vh;
}

.feira_container > h3 {

    text-align: center;
    padding-top: 30px;
    font-weight: 600;
    font-family: Cambria;
    font-size: 32px;
}

.feira_stands_container {

    margin: 40px 40px 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feira_stand_container {
    
    flex: 0 0 20%;
    text-align: center;
    border: 2px solid darkred;
    border-radius: 15px;
    margin: 20px 15px 20px 15px;
    background-color: white;
    position: relative;
    transition: all ease .5s;
}

.feira_stand_container > .stand_name {

    font-weight: 600;
    margin-top: 15px;
    font-size: 23px;
    margin-bottom: 5px;
}

.feira_stand_container > .vendedor_name {

    font-family: monospace;
    margin-bottom: 15px;
}

.feira_stand_container:hover {

    background-color: darkred;
    color: white;
    top: -12px;
}

.produtos_stand_container {
    padding-top:50px;
    background-color: antiquewhite;
}



.lista_produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    position: relative;
}

    .produtos_stand_container .produto_basic_info {
        flex: 0 0 16%;
        text-align: center;
        border: 2px solid darkred;
        border-radius: 15px;
        margin: 0 12px 12px 12px;
        
        background-color: white;
        height: 240px;
    }

        .produtos_stand_container img {
            height: 60px;
            padding: 5px;
            border: 2px solid black;
            margin-top: 20px;
            margin-bottom: 5px;
        }

.produtos_stand_container .nome_produto {

    font-weight: 600;
    margin-bottom: 15px;
}

.produtos_stand_container .preco_produto, .stock_produto, .promocao_produto, .rating_produto {
    text-align: center;
    margin-left: 5px;
    font-family: monospace;
    margin-bottom: 0 !important;
}

.preco_page_produto {
    text-align: center;
    margin-left: 5px;
    font-family: monospace;
    font-size: 30px;
    margin-bottom: 0 !important;
}

.preco_small_produto {
    text-align: center;
    margin-left: 5px;
    font-family: monospace;
    margin-bottom: 0 !important;
}

.client_container {
    background-color: antiquewhite;
}

    .client_container .client_basic_info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
        position: relative;
        font-size: 25px;
    }

.client_container .client_name, .client_email {
    text-align: center;
    margin-left: 5px;
    font-family: monospace;
    margin-bottom: 0 !important;
}

.produto_basic_info_buttons > button {
    border: none;
    margin-top: 20px;
    background: transparent;
}

    .produtos_stand_container button i {

        font-size: 25px;
        color: darkred;
        background-color: white;
        transition: all 0.2s ease;
    }

    .produtos_stand_container button i:hover {

        transform: scale(1.12);
        color: red;
    }

.produto_basic_info_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 25px 0 25px;
}

.produto_expanded_info {

    position: fixed;
    z-index: 99999;
    top: 210px;
    background-color: white;
    border: 3px solid darkred;
    width: 700px;
    height: 310px;
    text-align: center;
    border-radius: 20px;
    display:none;
}

    .produto_expanded_info > h1 {

        margin-top: 15px;
        font-size: 36px;
        margin-bottom: 25px;
    }

        .produto_expanded_info  p {

            text-align: left;
            margin-left: 20px;
            font-weight: 600;
            font-family: monospace;
        }

        .products_stand_name {
            text-align: center;
            padding-top: 25px;
            padding-bottom: 15px;
            font-weight: 600;
            font-family: Cambria;
            font-size: 32px;
        }

.subcategorias_container {

    display: flex;
    flex-wrap: wrap;
    margin: 30px 30px 0 30px;
    justify-content: left;
}

.subcategoria_container {

    flex: 0 0 33%;
    text-align: center;
}

.subcategoria_container {
    flex: 0 0 33%;
    text-align: center;
    margin-bottom: 10px;
}


.subcategoria_container h3 {

    font-family: Cambria;
    font-weight: 600;
    background-color: black;
    color: white;
    margin: 0 30px 15px 30px;
    padding: 3px 0 3px 0;
    transition: all 0.1s ease;
}

.subcategoria_container h3:hover {

    background-color: darkred;
}

.subcategoria_container p {

    font-size: 17px;
}

    .subcategoria_container p:hover {

        color: darkred;
        font-weight: 600;
    }

.botao_voltar {

    background: white;
    border: 3px solid darkred;
    padding: 5px 20px 5px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    transition: all 0.1s ease;
}

.botao_voltar:hover, .botao_voltar_bottom:hover {

    background-color: darkred;
    color: white;
}

.botao_voltar_bottom {

    background: white;
    border: 3px solid darkred;
    padding: 5px 20px 5px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    transition: all 0.1s ease;
    margin: 20px 0 20px 1050px;
}
.botaoguest {
    background: white;
    border: 3px solid darkred;
    padding: 5px 20px 5px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    transition: all 0.1s ease;
    margin: 20px 0 20px 1050px;
}

.user_header_info {
    display: flex;
}

    .user_header_info h1 {
        color: white;
        font-size: 18px;
        margin: auto 30px auto 0;
    }

.user_header_info i {

    font-size: 20px;
    background-color: white;
    color: darkred !important;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.1s ease;
}

    .user_header_info i:hover {

        color: red;
        transform: scale(1.1);
    }


.search_container {
    padding-top: 0.2%;
    text-align: center;
}

.search_input {
    padding: 12px 35px;
    color: white;
    width: 35%;
    background-color: black;
    transition: transform 250ms ease-in-out;
    font-size: 18px;
    line-height: 18px;
    border-radius: 50px;
    border: 1px solid black;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    margin-top: 30px;
    margin-left: 50px;
}

/* Search Button */
#search {
    margin-left: 10px;
    background-color: black;
    color: white;
    padding: 12px 24px;
    border-radius: 50px;
    border: 1px solid white;
    transition: all 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

    #search:hover,
    #search:focus {
        background-color: white;
        color: black;
    }

    #b{
        color: white;
    }



    .search_input::placeholder {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .search_input:hover,
    .search_input:focus {
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid black;
        background-position: 100% center;
    }

    .client_section{
        margin: 20px;
    }

.client_container {
    display: flex;
    text-align: center;
    margin: 70px 300px 0 300px;
    background-color: midnightblue;
    border-radius: 10px;
    padding: 40px;
    border: 15px solid #151515;
    justify-content: space-between;
}

    .client_container client_left {

        padding-left: 50px;
        padding-top: 100px;
        text-align: left;
    }

        .client_container i {

            color: white;
            margin-right: 12px;
        }

        .client_container p {
            color: white;
            font-family: monospace;
            text-align: left;
            font-size: 18px;
        }

    .client_container .client_right {
        
        padding: 30px;
        margin-right: 50px;
    }

    .client_container .client_right img {

        height:200px;
        width: 200px;
        border-radius: 50%;
    }

.log_off {

    margin-top: 30px;
    color: white;
    background: none;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 25px;
    transition: all 0.2s ease;
}

.log_off:hover {

    transform: scale(1.15);
}