@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    height: 12vh;
    width: 100%;
    background-color: darkred;
}

header img {
        height: 80%;
        margin-left: 100px;
        margin-top: 8px;

}

header i {
    color:white;
    font-size: 40px;
    text-align: end;
    
}

    header p {
        left: auto;
        right: 140px;
        color: white;
        font-size: 20px;
        top: 35px;
        position: absolute;
    }


#main_page {
    margin: 120px 100px 0 100px;
    display: flex;
    flex-wrap: wrap;
}

    #main_page .container_categoria {
        margin-left:0px;
        margin-bottom: 90px;
        text-align: center;
        flex: 0 0 14.2857%;
    }

    #main_page img {
        width: 90px;
        height: 90px;
    }

    #main_page p {
        text-align: center;
        margin-top: 10px;
        font-size: 17px;
    }

    #main_page i {
        width: 90px;
        height: 80px;
        font-size: 60px;
        margin-top: 10px;
    }

.carrinho_container {
    border: 4px solid black;
    margin: 50px 120px 0 120px;
    background-color: aliceblue;
}

.carrinho_container h3 {

    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 600;
}

.produtos_carrinho {
    margin: 0 40px 0 40px;
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    margin-bottom: 30px;
    border: 3px solid black;
}

.produto_carrinho {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .produto_carrinho > p, .produto_carrinho > button {
        flex: 15%;
        text-align: center;
        font-weight: 600;
        font-size: 17px;
        margin: 10px 0 10px 0;
    }

.produto_carrinho_title {
    background: black;
    margin: 0 40px 0 40px;
}
.produto_carrinho_title > p {
    font-size: 17px;
    font-weight: 600;
    color: white;
}

.produto_carrinho > button {

    background: none;
    border-width: 0;
}

.produto_carrinho > button > i {

    font-size: 22px;
}

.even {
    background: white;
}

.odd {
    background: lightgray;
}

.carrinho_container > p {

    text-align: right;
    margin-right: 40px;
    font-weight: 600;
    font-size: 18px;
}
