@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    height: 12vh;
    width: 100%;
    background-color: darkred;
}

    header img {
        height: 80%;
        margin-left: 100px;
        margin-top: 8px;
    }

    header i {
        left: auto;
        right: 60px;
        color: white;
        font-size: 40px;
        top: 25px;
        position: absolute;
    }

    header p {
        left: auto;
        right: 140px;
        color: white;
        font-size: 20px;
        top: 35px;
        position: absolute;
    }


    btn{
        color:blue;

    }

#main_page {
    margin: 120px 100px 0 100px;
    display: flex;
    flex-wrap: wrap;
}


