@page "/addstock"
@page "/addstock/{idvend:int}"
@inject IVendedorService VendedorService


<header>
    <link rel="stylesheet" href="icons/icons/css/all.css">
    <link rel="stylesheet" href="css/Login.css">
    <img src="logo.png" alt="BeFeira Logo">
    <i class="fa-solid fa-circle-user"></i>
</header>

<body>
    <div class="container">
        <div class="forms">
            <div class="form-content" style="justify-content: center">
                <div class="login-form">
                    <div>Adicionar Stock,Vendedor @vendedor.Username</div>
                    <div class="input-boxes">
                        <div class="input-box">
                            <input type="text" placeholder="Nome da Stand" required>
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Nome do produto" required>
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Preço" required>
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Promoção" required>
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Quantidade" required>
                        </div>
                        <div class="button input-box">
                            <input type="submit" value="Adicionar">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="botao_voltar_bottom">Voltar</button>
</body>

@code {
    [Parameter]
    public int? idvend { get; set; }
    private Vendedor vendedor = new Vendedor { };

    protected override async Task OnInitializedAsync()
    {
        vendedor = await VendedorService.GetSingleVendedor((int)idvend);
    }
}