@page "/addstock"
@page "/addstock/{idvend:int}"
@inject IVendedorService VendedorService
@inject IStandService StandService
@inject ISubcatserv Subcatservice


<header>
    <link rel="stylesheet" href="icons/icons/css/all.css">
    <link rel="stylesheet" href="css/Login.css">
    <img src="logo.png" alt="BeFeira Logo">
    <i class="fa-solid fa-circle-user"></i>
</header>

<body>
<Editform Model = "@form">
    <div class="container">
        <div class="forms">
            <div class="form-content" style="justify-content: center">
                <div class="login-form">
                    <div>Adicionar Stock,Vendedor @vendedor.Username</div>
                    <div class="input-boxes">
                        <div class="input-box">
                            <input type="text" placeholder="Nome da Stand" @bind-value="form.nomeStand" required>
                        </div>
                        <div class="input-box">
                                <input type="text" placeholder="Nome do produto" @bind-value="form.nomeProduto" required>
                        </div>
                            <div class="input-box">
                                <input type="text" placeholder="Subcategoria" @bind-value="form.nomeSubcat" required>
                            </div>
                        <div class="input-box">
                                <input type="float" placeholder="Preço" @bind-value="form.preco" required>
                        </div>
                        <div class="input-box">
                                <input type="int" placeholder="Promoção" @bind-value="form.promo" required>
                        </div>
                        <div class="input-box">
                                <input type="int" placeholder="Quantidade" @bind-value="form.promo" required>
                        </div>
                        <div class="input-box">
                                <input type="text" placeholder="Endereço URL da Imagem" @bind-value="form.urldaimagem" required>
                        </div>
                        <div class="button input-box">
                            <input type="submit" value="Adicionar" @onclick="Submit">
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </Editform>
    <button class="botao_voltar_bottom">Voltar</button>
</body>

@code {
    [Parameter]
    public int? idvend { get; set; }
    private Vendedor vendedor = new Vendedor { };

    List<Stand> stands = new List<Stand>();
    FormularioProduto form = new FormularioProduto {};
    Produto p = new Produto {};


    protected override async Task OnInitializedAsync()
    {
        await Subcatservice.GetSubcats();
        await StandService.GetStands();
        vendedor = await VendedorService.GetSingleVendedor((int)idvend);



        //tem de mostrar os stands;
        stands = await StandService.GetStandsByVendedor((int)idvend);
    }

    public async void Submit()
    {


        p.Nome_Produto = form.nomeProduto;
        p.Promocao = form.promo;
        p.Preco = form.preco;
        p.Stock = form.stock;
        p.urlImage = form.urldaimagem;
        int sub = await Subcatservice.GetSubcatbyname(form.nomeSubcat);

        if (sub < 0)
        {

        }
        else
        {
            p.SubCategoriaID = sub;
        }






    }
}