@page "/Carrinho"
@using BeFeira.Shared

<header>
    <link rel="stylesheet" href="icons/icons/css/all.css">
    <link rel="stylesheet" href="css/mainpage.css">

    <img src="logo.png" alt="BeFeira Logo">
    <i class="fa-solid fa-circle-user"></i>
</header>

<body>
    <div class="carrinho_container">
        <h3>Carrinho</h3>
        <div class="produtos_carrinho">
            @foreach(var produto in produtos)
            {   
                <div class="produto_carrinho">
                  
                    <p>(butão de remover produto)</p>
                </div>
            }
        </div>
        <button>Voltar</button>
        <button>Finalizar compra</button>
    </div>
</body>

@code {
    public static List<Produto> produtos = new List<Produto>
        {
        };
}
