@page "/feira"
@inject IStandService StandService
@inject IFeiraService SFeiraService
@inject NavigationManager NavigationManager


<PageTitle> Feira </PageTitle>

<h3>Feira</h3>

<table>
	<thead>
		<tr>
			<th> Vendedor </th>
			<th> StandId </th>
			<th> Feira </th>
			<th> Nome </th>
			<th></th>

		</tr>
	</thead>
	<tbody>
		@foreach(var stand in StandService.Stands)
		{
			<tr>
				<td>@stand.VendedorID</td>
				<td>@stand.ID</td>
				<td>@stand.FeiraID</td>
				<td>@stand.Nome</td>
				<td>
					<button class="btn" style="color:blue" @onclick="(()=>ShowBarraca(stand.ID))">  <i class="oioipen"></i></button>
				</td>
			</tr>
		}
	</tbody>
</table>

@code {
	protected override async Task OnInitializedAsync()
	{
		await StandService.GetStands();
	}
	void ShowBarraca(int id)
	{
		NavigationManager.NavigateTo($"standpage/{id}");
	}
}