@page "/feira"
@page "/feira/{id:int}"
@inject IStandService StandService
@inject IFeiraService SFeiraService
@inject NavigationManager NavigationManager

<PageTitle> Feira </PageTitle>

<header>
    <link rel="stylesheet" href="icons/icons/css/all.css">
    <link rel="stylesheet" href="css/mainpage.css">

    <img src="logo.png" alt="BeFeira Logo">
    <p>Login/Registo</p>
    <i class="fa-solid fa-circle-user"></i>
</header>

<body class="feira_container">
	<h3>@String.Format("Feira de {0}",nome_da_feira)</h3>
	<div class="feira_stands_container">

		@foreach (var std in StandService.Stands)
		{
			<div class="feira_stand_container" @onclick="(()=>ShowBarraca(std.ID))">
				<p class="stand_name">@std.Nome</p>
				<p class="vendedor_name">@std.ID</p>
	
			</div>
		}
	</div>
</body>

@code {
	
    [Parameter]
    public int? id { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await StandService.GetStands();
	}
	void ShowBarraca(int id)
	{
		NavigationManager.NavigateTo($"standpage/{id}");
	}

	// Código para testes

	string nome_da_feira = "<Nome da Feira>";

	int len = 10;

	string[] stands = {"Stand", "Stand", "Stand", "Stand", "Stand", "Stand", "Stand", "Stand", "Stand", "Stand" };

	string[] vendedores = { "Vendedor", "Vendedor", "Vendedor", "Vendedor", "Vendedor", "Vendedor", "Vendedor", "Vendedor", "Vendedor", "Vendedor"};
}