@page "/feirapage"
@page "/feirapage/{id:int}"
@inject IStandService StandService
@inject IVendedorService VendedorService
@inject IFeiraService SFeiraService
@inject NavigationManager NavigationManager


<PageTitle> Feirapage </PageTitle>

@if (id == null)
{
	

}
else {

<header>
    <link rel="stylesheet" href="icons/icons/css/all.css">
    <link rel="stylesheet" href="css/mainpage.css">

    <img src="logo.png" alt="BeFeira Logo">
		<div class="user_header_info">
			<h1>Guest</h1>
			<i class="fa-solid fa-cart-shopping"></i>
		</div>
    <i class="fa-solid fa-circle-user"></i>
</header>

<body class="feira_container">
	<h3>@String.Format("Feira de {0}",f.Categoria)</h3>
	<div class="feira_stands_container">

		@foreach (var std in StandService.Stands)
			{
				if (std.FeiraID == id)
				{
					<div class="feira_stand_container" @onclick="(()=>ShowBarraca(std.ID))">
						<p class="stand_name">@std.Nome</p>
						<p class="vendedor_name"> ID Vendedor :@std.VendedorID </p>

					</div>
				}
			}
	</div>
	<button class="botao_voltar_bottom">Voltar</button>
</body>
}
@code {

	Feira f = new Feira {};


	[Parameter]
	public int? id { get; set; }

	[Parameter]
	public string? s { get; set; }



	protected override async Task OnParametersSetAsync()
	{
		if (id == null)
		{

		}
		else
		{
			f = await SFeiraService.GetSingleFeira((int)id);
		}
	}

	protected override async Task OnInitializedAsync()
	{
		await VendedorService.GetVendedores();
		await StandService.GetStands();
	}
	void ShowBarraca(int idstand)
	{
		NavigationManager.NavigateTo($"standpage/{id}/{idstand}");
	}

	




}