@page "/"

@inject IVendedorService VendedorService
@inject IClienteService ClientService
@inject ICarrinhoService CarrinhoService
@inject NavigationManager NavigationManager

<header>
    <link rel="stylesheet" href="icons/icons/css/all.css">
    <link rel="stylesheet" href="css/Login.css">
    <img src="logo.png" alt="BeFeira Logo">
    <i class="fa-solid fa-circle-user"></i>
</header>


<html>
<body>
    <div class="container">
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div>Iniciar Sessão</div>
                    <Editform Model = "@model">
                        <div class="input-boxes">
                            <div>
                                <select class="form-select"  @onchange="@OnSelect">
                                    <option disabled selected></option>
                                    <option value="Vendedor">Vendedor</option>
                                    <option value="Cliente">Cliente</option>
                                </select>
                            </div>
                   
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" @bind-value="model.username"  placeholder="Username" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" @bind-value="model.pass" placeholder="Password" required>
                            </div>
                            <div class="button input-box">
                                <input type="submit" @onclick="Submit" value="Entrar">
                            </div>
                           
                        </div>
                        
                    </Editform>
                </div>
                <div class="signup-form">
                    <div>Registar Cliente </div>
                      <Editform Model = "@cli">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Username" @bind-value="cli.Username" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder=" Email" @bind-value="cli.Email"required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Password" @bind-value="cli.Password"  required />
                            </div>

                            <div class="input-box">
                                <i class="fa-solid fa-image-portrait"></i>
                                <input type="Photo-Link" placeholder="Photo.Link" @bind-value="cli.UrlProfilePic"/>
                            </div>
                            <div class="button input-box">
                                <input type="submit" @onclick="RegisterClient" value="Registar Cliente ">
                            </div>
                        </div>
                    </Editform>
                </div>
                     <div class="signup-form">
                    <div>Registar Vendedor</div>
                    <Editform Model = "@seller">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Username" @bind-value="seller.Username" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Email" @bind-value="seller.Email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Password" @bind-value="seller.Password" required>
                            </div>
                            <div class="input-box">
                                <i class="fa-solid fa-credit-card"></i>
                                <input type="number" placeholder="Iban" @bind-value="seller.Iban" required>
                            </div>
                            <div class="input-box">
                                <i class="fa-solid fa-mobile"></i>
                                <input type="number" placeholder="MBWay" @bind-value="seller.Mbway" required>
                            </div>
                            <div class="input-box">
                                <i class="fa-solid fa-image-portrait"></i>
                                <input type="text" placeholder="UrlImage" @bind-value="seller.UrlImage" required>
                            </div>
                            <div class="button input-box">
                                <input type="submit" @onclick="RegisterSeller" value="Registar Vendedor">
                            </div>

                            </div>
                    </Editform>
                        </div>

            </div>
        </div>
    </div>
    <button class="botao_voltar_bottom" @onclick="(()=>moveasguest())">Continuar como Guest</button>
</body>
</html>


@code {

    Formulario model = new Formulario { };

    Cliente cli = new Cliente {  };
    Vendedor seller = new Vendedor { };

    private  bool aux;

    protected override async Task OnInitializedAsync()
    {
        await VendedorService.GetVendedores();
        await ClientService.GetClientes();

    }
    void moveasguest()
    {
        NavigationManager.NavigateTo($"/mainpage/{-1}");
    }


    void OnSelect(ChangeEventArgs e)
    {

        model.opcao = e.Value.ToString();
        //model.opcao = "Vendedor";
    }

    private async void Submit()
    {
        if (model.opcao =="Vendedor")
        {
            int  a = await VendedorService.ValidVendedor(model.username, model.pass);
            if (a>=0)
            {
                NavigationManager.NavigateTo($"/vendedormain/{a}");
            }
        }
        else  if (model.opcao =="Cliente")
        {
            int id  =  await ClientService.ValidClient(model.username, model.pass);
            if (id >=0)
            {
                NavigationManager.NavigateTo($"/mainpage/{id}");
            }

        }
        else
        {

        } 
    }
    private async void RegisterSeller()
    {
        await VendedorService.AddVendedor(seller);
        int id = await VendedorService.ValidVendedor(seller.Username, seller.Password);



        NavigationManager.NavigateTo($"/vendedormain/{id}");

    }

    private async void RegisterClient()
    {
        await ClientService.AddCliente(cli);
        int id = await ClientService.ValidClient(cli.Username, cli.Password);

        Carrinho car = new Carrinho { ClienteID = id, Total =0 };
        await  CarrinhoService.AddCarrinho(car);


        NavigationManager.NavigateTo($"/mainpage/{id}");

    }
}

