@page "/login"

<header>
    <link rel="stylesheet" href="icons/icons/css/all.css">
    <link rel="stylesheet" href="css/Login.css">

    <img src="logo.png" alt="BeFeira Logo">
    <i class="fa-solid fa-circle-user"></i>
</header>


<html>
<body>
    <div class="container">
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div>Iniciar Sessão</div>
                    <form action="mainpage">
                        <div class="input-boxes">
                            <div>
                                <select class="form-select">
                                    <option disabled selected>Usuário</option>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Vendedor">Vendedor</option>
                                    <option value="Cliente">Cliente</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Password" required>
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Entrar">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="signup-form">
                    <div>Registar</div>
                    <form action="mainpage">
                        <div class="input-boxes">
                            <div>
                                <select class="form-select">
                                    <option disabled selected>Usuário</option>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Vendedor">Vendedor</option>
                                    <option value="Cliente">Cliente</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Nome Completo" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Password" required>
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Registar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


@code {

}
