@page "/login"

@inject IVendedorService VendedorService
@inject IClienteService ClientService
@inject NavigationManager NavigationManager

<header>
    <link rel="stylesheet" href="icons/icons/css/all.css">
    <link rel="stylesheet" href="css/Login.css">
    <img src="logo.png" alt="BeFeira Logo">
    <i class="fa-solid fa-circle-user"></i>
</header>


<html>
<body>
    <div class="container">
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div>Iniciar Sessão</div>
                    <Editform Model = "@model">
                        <div class="input-boxes">
                            <div>
                                <select class="form-select" @onchange="@OnSelect" >
                                    <option value="Vendedor">Vendedor</option>
                                    <option value="Cliente">Cliente</option>
                                </select>
                            </div>
                   
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" @bind-value="model.username"  placeholder="Username" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" @bind-value="model.pass" placeholder="Password" required>
                            </div>
                            <div class="button input-box">
                                <input type="submit" runat="server" @onclick="Submit" value="Entrar">
                            </div>
                           
                        </div>
                        
                    </Editform>
                </div>
                <div class="signup-form">
                    <div>Registar Cliente</div>
                    <form action="mainpage">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Nome Completo" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Password" required>
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Registar Cliente">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="signup-form">
                    <div>Registar Vendedor</div>
                    <form action="mainpage">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Nome Completo" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Password" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="number" placeholder="Iban" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="number" placeholder="MBWay" required>
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Registar Vendedor">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button class="botaoguest" @onclick="(()=>moveasguest())">Continuar como Guest</button>
    <button class="botao_voltar_bottom">Voltar</button>
</body>
</html>


@code {

    Formulario model = new Formulario { };

    private  bool aux;

    protected override async Task OnInitializedAsync()
    {
        await VendedorService.GetVendedores();
        await ClientService.GetClientes();
    }
     void moveasguest()
        {
            NavigationManager.NavigateTo($"/mainpage/{-1}");
        }

    void OnSelect(ChangeEventArgs e)
    {
        model.opcao = e.Value.ToString();
    }

    private async void Submit()
    {
        if (model.opcao.Equals("Vendedor"))
        {
            bool  a = await VendedorService.ValidVendedor(model.username, model.pass);
            if (a    == true)
            {
                //NavigationManager.NavigateTo($"/vendedeorpage");
            }
        }
       else  if (model.opcao.Equals("Cliente"))
        {
             aux  =  await ClientService.ValidClient(model.username, model.pass);
           if (aux ==true)
            {
                NavigationManager.NavigateTo($"/mainpage/{@model.username}");
            }
            
        }
        else{} 
    }
}
