@page "/vendedormain"
@page "/vendedormain/{idvend:int}"

@inject IVendedorService VendedorService
@inject NavigationManager NavigationManager

<PageTitle> VendedorMain </PageTitle>

<header>
	<link rel="stylesheet" href="icons/icons/css/all.css">
	<link rel="stylesheet" href="css/mainpage.css">

	<img src="logo.png" alt="BeFeira Logo">
	<div class="user_header_info">
		<h1>Bem Vindo Vendedor @vendedor.Username</h1>
	</div>
	<i class="fa-solid fa-circle-user" @onclick="(()=>goToMyProfile())"></i>
</header>

<body class="feira_container" style="padding-top:40px">
	
		<div class="feira_stand_container" @onclick="(()=>goAddStock())">
			<p class="stand_name">Adicionar Stock</p>
		</div>
		<div class="feira_stand_container" @onclick="(()=>goAddStand())">
			<p class="stand_name">Adicionar Stand</p>
		</div>
	
</body>

@code{

	[Parameter]
	public int? idvend { get; set; }
	public Vendedor vendedor = new Vendedor { };


	protected override async Task OnInitializedAsync()
	{
		vendedor =await VendedorService.GetSingleVendedor((int)idvend);
	}
	void goGerir()
	{
		NavigationManager.NavigateTo($"vendedorgerirstock/{idvend}");
	}

	void goAddStock()
	{
		NavigationManager.NavigateTo($"addstock/{idvend}");
	}

	void goAddStand()
	{
		NavigationManager.NavigateTo($"addstand/{idvend}");
	}

	void goToMyProfile()
	{
		NavigationManager.NavigateTo($"vendedorprofile/{idvend}");
	}
}