@page "/mainpage"
@page "/mainpage/{idcliente:int}"
@inject NavigationManager NavigationManager
@inject IClienteService ClienteService



<header>
    <link rel="stylesheet" href="icons/icons/css/all.css">
    <link rel="stylesheet" href="css/mainpage.css">

    <img src="logo.png" alt="BeFeira Logo">
    <div class="user_header_info">
        <h1> Bem Vindo ao Befeira, @uname</h1>
        <i class="fa-solid fa-cart-shopping" @onclick="(()=>ShowKart())"></i>
    </div>
    <button class="u"><i class="fa-solid fa-circle-user" @onclick="(()=>gouser())" alt=""></i></button>
</header>

<main id="main_page">
    <div class="container_categoria">
        <img src="fotos mockups/casa.webp" alt="casaedecoracao" @onclick="(()=>ShowFeira(1))" />
        <p>Casa e Decoração</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/animais.jpg" alt="animais" @onclick="(()=>ShowFeira(2))" />
        <p>Animais</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/mercearia.png" alt="Mercearia" @onclick="(()=>ShowFeira(3))" />
        <p>Mercearia e Produtos Frescos</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/cultura.jpg" alt="Cultura" @onclick="(()=>ShowFeira(4))" />
        <p>Cultura</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/veiculo.webp" alt="Veiculos" @onclick="(()=>ShowFeira(5))" />
        <p>Veículos</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/escritorio.webp" alt="Escritório" @onclick="(()=>ShowFeira(6))" />
        <p>Escritório</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/moda.jpg" alt="Moda" @onclick="(()=>ShowFeira(7))" />
        <p>Moda</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/ferramentas.jpg" alt="Bricolagem" @onclick="(()=>ShowFeira(8))" />
        <p>Bricolagem</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/animais de estimação.jpg" alt="Animais de Estimação" @onclick="(()=>ShowFeira(9))" />
        <p>Animais de Estimação</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/brinquedos.jpg" alt="Brinquedos" @onclick="(()=>ShowFeira(10))" />
        <p>Brinquedos</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/gaming.jpg" alt="Gaming" @onclick="(()=>ShowFeira(11))" />
        <p>Gaming</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/lazer.jpg" alt="Lazer" @onclick="(()=>ShowFeira(12))" />
        <p>Lazer</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/saude.jpg" alt="Saúde" @onclick="(()=>ShowFeira(13))" />
        <p>Saúde</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/beleza.webp" alt="Beleza" @onclick="(()=>ShowFeira(14))" />
        <p>Beleza</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/eletrodomesticos.png" alt="Eletrodomésticos" @onclick="(()=>ShowFeira(15))" />
        <p>Eletrodomésticos</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/imagem.jpg" alt="Imagem" @onclick="(()=>ShowFeira(16))"/>
        <p>Imagem</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/som.jpg" alt="Som" @onclick="(()=>ShowFeira(17))"/>
        <p>Som</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/smartphone.jpg" alt="Smartphones e Acessórios" @onclick="(()=>ShowFeira(18))" />
        <p>Smartphones e Acessórios</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/informatica.jpg" alt="Informática" @onclick="(()=>ShowFeira(19))" />
        <p>Informática</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/desporto.jpg" alt="Desporto" @onclick="(()=>ShowFeira(20))" />
        <p>Desporto</p>
    </div>

    <div class="container_categoria">
        <i class="fa-solid fa-question" @onclick="(()=>ShowFeira(21))"></i>
        <p>Random</p>
    </div>

</main>

@code {



    [Parameter]
    public int? idcliente  { get; set; }
    private Carrinho c = new Carrinho { };

    public string? uname;

    protected override async Task OnInitializedAsync()
    {
        if(idcliente==-1)
        {
            uname = "Guest";
        }
        else
        {
        Cliente cli = await ClienteService.GetSingleCliente((int)idcliente);
        uname = cli.Username;
            
        }
    }


    void ShowFeira(int id)
    {
        NavigationManager.NavigateTo($"/feirapage/{id}/{idcliente}");
    }


    void gouser()
    {
        NavigationManager.NavigateTo($"userinfo/{idcliente}");
    }

    void ShowKart()
    {
        NavigationManager.NavigateTo($"/carrinhopage/{idcliente}/mainpage");
    }
}
