@page
@model BeFeira.Pages.MainPageModel

<header>
    <link rel="stylesheet" href="icons/icons/css/all.css">
    <link rel="stylesheet" href="css/mainpage.css">

    <img src="logo.png" alt="BeFeira Logo">
    <p>Login/Registo</p>
    <i class="fa-solid fa-circle-user"></i>
</header>

<main id="main_page">
    <div class="container_categoria">
        <img src="fotos mockups/casa.webp" alt="casaedecoracao" />
        <p>Casa e Decoração</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/animais.jpg" alt="animais" />
        <p>Animais</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/mercearia.png" alt="Mercearia" />
        <p>Mercearia e Produtos Frescos</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/cultura.jpg" alt="Cultura" />
        <p>Cultura</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/veiculo.webp" alt="Veiculos" />
        <p>Veículos</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/escritorio.webp" alt="Escritório" />
        <p>Escritório</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/moda.jpg" alt="Moda" />
        <p>Moda</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/ferramentas.jpg" alt="Bricolagem" />
        <p>Bricolagem</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/animais de estimação.jpg" alt="Animais de Estimação" />
        <p>Animais de Estimação</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/brinquedos.jpg" alt="Brinquedos" />
        <p>Brinquedos</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/gaming.jpg" alt="Gaming" />
        <p>Gaming</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/lazer.jpg" alt="Lazer" />
        <p>Lazer</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/saude.jpg" alt="Saúde" />
        <p>Saúde</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/beleza.webp" alt="Beleza" />
        <p>Beleza</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/eletrodomesticos.png" alt="Eletrodomésticos" />
        <p>Eletrodomésticos</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/imagem.jpg" alt="Imagem" />
        <p>Imagem</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/som.jpg" alt="Som" />
        <p>Som</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/smartphone.jpg" alt="Smartphones e Acessórios" />
        <p>Smartphones e Acessórios</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/informatica.jpg" alt="Informática" />
        <p>Informática</p>
    </div>

    <div class="container_categoria">
        <img src="fotos mockups/desporto.jpg" alt="Desporto" />
        <p>Desporto</p>
    </div>

    <div class="container_categoria">
        <i class="fa-solid fa-question"></i>
        <p>Random</p>
    </div>

</main>

@{
}


