@page
@model BeFeira.Pages.OneStandPageModel

<header>
    <link rel="stylesheet" href="icons/icons/css/all.css">
    <link rel="stylesheet" href="css/OneStandPage.css">

    <img src="logo.png" alt="BeFeira Logo">
    <p>Login/Registo</p>
    <i class="fa-solid fa-circle-user"></i>
</header>


@{
}
