@page "/feira"
@inject IStandService StandService

<PageTitle> Feira </PageTitle>

<h3>Feira</h3>

<table>
	<thead>
		<tr>
			<th> Vendedor </th>
			<th> StandId </th>
			<th> FeiraId </th>
			<th></th>

		</tr>
	</thead>
	<tbody>
		@foreach(var stand in StandService.Stands)
		{
			<tr>
				<td>@stand.VendedorId</td>
				<td>@stand.StandId</td>
				<td>@stand.FeiraId</td>
				<td>

				</td>
			</tr>
		}
	</tbody>
</table>

@code {
	protected override async Task OnInitializedAsync()
	{
		await StandService.GetStands();
	}
}