@page "/userinfo"
@page "/userinfo/{idCliente:int}"

@inject IClienteService ClientService
@inject NavigationManager NavigationManager


<header>
    <link rel="stylesheet" href="icons/icons/css/all.css">
    <link rel="stylesheet" href="css/mainpage.css">

    <img src="logo.png" @onclick="(()=>gomain())" alt="BeFeira Logo">
    <i class="fa-solid fa-circle-user"></i>
</header>

<div class="client_container">

    <div class="client_left">

        <div style="display: flex;margin-top: 35px;">
            <p><i class="fas fa-user"></i>@String.Format("Username: {0}", client.Username)</p>
        </div>

        <div style="display: flex">
            <p><i class="fas fa-envelope"></i>@String.Format("E-mail: {0}", client.Email)</p>
        </div>

        <div style="display: flex">
            <p><i class="fa-solid fa-dollar-sign"></i>Dinheiro gasto na app: @client.Total € </p>
        </div>
        
        <button class="log_off"><i class="fa-solid fa-right-from-bracket" @onclick="(()=>gologin())" alt=""></i></button>
    </div>

    <div class="client_right">

        <img src=@client.UrlProfilePic />

    </div>

</div>

<button class="log_off"><i class="fa-solid fa-right-from-bracket" @onclick="(()=>gologin())" alt=""></i></button>



@code {
    
    [Parameter]
    public int? idcliente { get; set; }
    public Cliente client = new Cliente{ };

    protected override async Task OnParametersSetAsync()
    {
        if (idcliente == -1)
        {
            client.Username = "Guest";
        }
        else
        {
            client = await ClientService.GetSingleCliente((int)idcliente);

        }
    }

    void gomain()
    {
        NavigationManager.NavigateTo($"mainpage/{idcliente}");
    }

    void gologin()
    {
        NavigationManager.NavigateTo("/");
    }
}
