@page "/vendedoraddstand"
@page "/vendedoraddstand/{idvend:int}"

@inject IStandService StandService
@inject IVendedorService VendedorService
@inject NavigationManager NavigationManager

<header>
	<link rel="stylesheet" href="icons/icons/css/all.css">
	<link rel="stylesheet" href="css/mainpage.css">

	<img src="logo.png" alt="BeFeira Logo" @onclick="(()=>gomain())">
	<div class="user_header_info">
		<h1>Adicionar Stand para o vendedor : @vend.Username</h1>
	</div>
	<i class="fa-solid fa-circle-user"></i>
</header>

<body class="stand_page_container">

	<h1 class="products_stand_name">@vend.Username</h1>

	<div class="subcategorias_container">





		@foreach (var stand in stands)
		{

			<div class="subcategoria_container">

				
					<p>@stand.Nome</p>
				<p>@stand.Feira.Categoria</p>

			</div>
		}

	</div>

</body>

@code{
	[Parameter]
	public int? idvend { get; set; }

	private Vendedor vend = new Vendedor { };

	private List<Stand> stands = new List<Stand>();


	protected override async Task OnInitializedAsync()
	{
		await StandService.GetStands();
		vend = await VendedorService.GetSingleVendedor((int)idvend);
		stands =await  StandService.GetStandsByVendedor((int)idvend);

	}
	void gomain()
	{
		NavigationManager.NavigateTo($"vendedormain/{idvend}");
	}
}